

body {
  background-image: url("img/bg.jpg");
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6;
}

body > div {
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  border-style: solid;
  border-color: #ffbb00;
}
#site_header {
  background-color: #ff8523;
  padding: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: bolder;
  border-width: thin;
  border-radius: 3px;
  border-style: solid;
  border-color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top:5px;
  padding-bottom: 5px;
}

section {
  margin-left: 30px;
  margin-right: 30px;
  border-bottom color: #dddddd;
  border-bottom-style: solid;

}

h2, h3 {
  color: #1fabe5;
}

ul > li {
  font-weight: bolder;
}

table {
  border-collapse: collapse;
}

thead > tr > td {
  color: white;
  background-color: #1fabe5;
  border-style: solid;
  border-color: black;
  border-width: thin;
  padding: 5px;


}

tbody > tr > td {
  border-style: solid;
  border-color: #1fabe5;
  border-width: thin;


}

tbody > tr > td > img {
  width: 25%;

}
